body{
    background: rgb(192, 192, 109)
}
h1{
    font-size: 60px;
    color: rbg(226,86,43);
    font-family: bisque;
    text-align: center;
}
p{
    font-size: 30px;
    color: rgb (196, 104, 43);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
img{
    width: 300px;
    height: 300px;
    margin: 30px;
    margin-left: 130px;
}